
{{!-- TODO - write the template to show all posts on the / route --}}
<h1>All posts</h1>
{{#if username}}
<p>Hello, {{username}}</p>
{{/if}}

<h2>Here's what people are buzzing about:</h2>
{{#each posts}}
{{> post this}}
{{/each}}